* {
    font-family: 'Quicksand', sans-serif;
}

.bg-search {
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px;
}

/* .font-roboto {
    font-family: 'roboto', sans-serif;
} */